<table mat-table [dataSource]="books" fxFlex>
  <ng-container matColumnDef="pictureLocation">
    <th mat-header-cell *matHeaderCellDef>Picture</th>
    <td mat-cell *matCellDef="let book"><img alt="picture" [src]="book.pictureLocation" class="mediaImage"></td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let book"> {{ book.name }} </td>
  </ng-container>

  <ng-container matColumnDef="genre">
    <th mat-header-cell *matHeaderCellDef>Genre</th>
    <td mat-cell *matCellDef="let book"> {{ book.genre }} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let book"> {{ book.description }} </td>
  </ng-container>

  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef>Author</th>
    <td mat-cell *matCellDef="let book"> {{ book.author }} </td>
  </ng-container>

  <ng-container matColumnDef="numberOfPages">
    <th mat-header-cell *matHeaderCellDef>Pages</th>
    <td mat-cell *matCellDef="let book"> {{ book.numberOfPages }} </td>
  </ng-container>

  <ng-container matColumnDef="identifier">
    <th mat-header-cell *matHeaderCellDef>Remove</th>
    <td mat-cell *matCellDef="let book">
      <button mat-icon-button color="warn" (click)="removeBook(book.identifier)">
        <mat-icon>cancel</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
