@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mediaImage { max-height: 120px; }

table td.mat-cell, table th.mat-cell { padding-right:20px; }
