<table class="collectionTable">
  <thead>
  <tr>
    <td>Picture</td>
    <td>Name</td>
    <td>Genre</td>
    <td>Description</td>
    <td>Author</td>
    <td>Pages</td>
    <td>Remove</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books; trackBy: trackById">
    <td>
      <img [src]="book.pictureLocation" class="mediaImage">
    </td>
    <td>
      {{ book.name }}
    </td>
    <td>
      {{ book.genre }}
    </td>
    <td>
      {{ book.description }}
    </td>
    <td>
      {{ book.author }}
    </td>
    <td>
      {{ book.numberOfPages }}
    </td>
    <td>
      <button (click)="removeBook(book.identifier)">X</button>
    </td>
  </tr>
  </tbody>
</table>
